body {
    display: flex;
    background-image: url("./minePic/bluesky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    height: 100%;
    width: 100%;
}

.dirt {
    float: left;
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/dirt.jpg");
    background-size: cover;
}

.tree {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/tree.jpg");
    background-size: cover;
}

.treetop {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/treetop.jpg");
    background-size: cover;
}

.gold {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/gold.jpg");
    background-size: cover;
}

.smallRock {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/smallrocks.jpg");
    background-size: cover;
}

.axe {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/axe.jpg");
    background-size: cover;
}

.bigAxe {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/mineaxe.jpg");
    background-size: cover;
}

.shovel {
    margin: 2px;
    height: 100%;
    width: 100%;
    background-image: url("./minePic/shovel.jpg");
    background-size: cover;
}