html,
body {
    height: 100%;
    width: 100%;
    color: black;
    background: url("../minePic/main.png");
    background-size: cover;
}

#home {
    display: table;
    height: 100%;
    width: 100%;
}

.landing-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn {
    background-image: url("../minePic/startgame.jpg");
    background-size: cover;
    padding: 2% 6%; 

}

.btn-2 {
    margin-top: 5%; 
}

.instBtn {
    background: url("../minePic/i.jpg");
    background-size: cover;
    height: 60px;
    width: 120px;
}

.landing-text .move {
    margin-left: 50%;
    height: 200px;
    width: 200px;
    background-image: url("../minePic/dragon.gif");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
}
.move2 {
    height: 100px;
    width: 100px;
    background: url("../minePic/dragon2.gif");
    background-size: cover;
    padding-left: 10px;
}
