html,
body {
    width: 100%;
    
}

#modal {
    display: none; 
}

#modal2{
    display: none; 
}

.great-parent {
    margin: auto;
    padding: auto;
    width: 100%;
   
}

.sidenav {
    display: contents;
    position: fixed;
    
    
}
.sidenav a {
    margin-right: 0.5rem;
    text-decoration: none;
    color: #818181;    

}
img:hover {
    box-shadow: 0 2px 25px rgba(192, 192, 182, 0.7);
}

@media screen and (max-width: 500px) {
    .world-btn{
        display: none;
    }

    input{
        display: none;
    }
    .sidenav a {
        margin-right: 0.9rem;

    }


}

img {
    height: 8vh;
}
.parent-div {
    height: 100%;
    width: 100%;
    background-image: url('./minePic/bluesky.jpg');
    background-size: cover;
    background-repeat: repeat;
    background-color: skyblue;
    
}

.dirt {
    background-image: url('./minePic/dirt.jpg');
    background-size: cover;
}
.tree {
    background-image: url('./minePic/tree.jpg');
    background-size: cover;
}
.treetop {
    background-image: url('./minePic/treetop.jpg');
    background-size: cover;
}
.smallRock {
    background-image: url('./minePic/smallrocks.jpg');
    background-size: cover;
}
.gold {
    background-image: url('./minePic/gold.jpg');
    background-size: cover;
}
.sky {
    background-color: skyblue;
}

 #inventory {
    display: inline-block;
    font-size: 2vh;
    height: 3vh;
    
    
} 
.parent-div {
    height: 85vh;
    margin: 0;
    width: 100%;
}
.container-holder{
    display: inline-block;
}
.my-input{
    height: 5%;
    font-size: 0.5rem; 
    border-radius: 10%;
}
.my-span{
    font-size: 0.5rem; 
    color: white;

}

.world-btn{
    font-size: 0.6rem; 
}

.game-tile{
    background-color: skyblue;
}

.game-tile:hover{
    opacity: 0.8;
}
